<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>
      <h1>So you want to join the dark side but don't know the secret code</h1>
      <h2>Hmm maybe look at the image first</h2>
      <img
        src="https://img.freepik.com/free-photo/silhouette-man-looking-new-york-city-buildings_23-2150820160.jpg?t=st=1745342685~exp=1745346285~hmac=837323ef8b68c665765a144ef57d36a1930378f4f504a6ab20c8a76a390e32bf&w=360"
        alt="Nice, now check the footer and say my name"
      />
      <h3>Check the ctrl + ___ + del</h3>
      <h4>Enter the secret code</h4>

      <form action="/membership" method="POST">
        <label for="secretCode">Super secret code</label>
        <input
          id="secretCode"
          name="secretCode"
          placeholder="Super secret code"
          type="text"
        />
        <button type="submit">Try your luck</button>
      </form>
    </main>
    <a href="../">I want to go home</a>
  </body>
</html>
